# Default ignored files
/../../../../../:Code/PycharmProjects/ScientificTest/.idea/shelf/
/../../../../../:Code/PycharmProjects/ScientificTest/.idea/workspace.xml
# Datasource local storage ignored files
/../../../../../:Code/PycharmProjects/ScientificTest/.idea/dataSources/
/../../../../../:Code/PycharmProjects/ScientificTest/.idea/dataSources.local.xml
# Editor-based HTTP Client requests
/../../../../../:Code/PycharmProjects/ScientificTest/.idea/httpRequests/
